#### **O que é o Pandas**
O Pandas é uma biblioteca Python amplamente utilizada para análise de dados. Ele oferece estruturas de dados e ferramentas poderosas para trabalhar com dados tabulares, como os encontrados em planilhas e bancos de dados. O Pandas permite carregar, manipular e analisar dados com facilidade, oferecendo funcionalidades semelhantes às do Excel e SQL. Algumas das principais características do Pandas:

- Leitura e escrita de dados em diversos formatos (CSV, JSON, SQL, Excel, etc)
- Limpeza e preparação de dados
- Manipulação de dados em tabelas com linhas e colunas
- Análise estatística descritiva
- Visualização e plotagem de gráficos
- Integração com outras bibliotecas populares como NumPy e Matplotlib

#### **Estruturas de dados principais no Pandas**
As duas principais estruturas de dados para se trabalhar com dados tabulares no Pandas são as Séries e os DataFrames.

- **Séries (Series):** são arrays unidimensionais rotulados, capazes de armazenar qualquer tipo de dado (inteiros, strings, floats, objetos, etc)
- **DataFrames:** estruturas bidimensionais que podem armazenar diferentes tipos de dados em colunas, semelhantes a uma planilha ou tabela de banco de dados

#### **Introdução aos DataFrames**
DataFrames são a estrutura de dados tabular mais importante do Pandas. Eles permitem armazenar e manipular dados em tabelas com linhas e colunas. Os DataFrames são bidimensionais, o que significa que têm tanto um índice (linhas) quanto colunas. 

#### **Manipulação de DataFrames**
Os DataFrames permitem indexação, fatiamento e manipulação de dados de forma muito intuitiva, como numa planilha. Além disso, eles são integrados com funcionalidades de álgebra linear do NumPy e podem gerar gráficos com Matplotlib.

- Permitem indexação, fatiamento e manipulação de dados de forma intuitiva
- São integrados com funcionalidades de álgebra linear do NumPy
- Capacidade de gerar gráficos com Matplotlib

In [3]:
## Importação da biblioteca pandas
import pandas as pd

In [5]:
## Criando um dataframe a partir de uma lista
df_from_list = [{"a": 1, "b": 2, "c": 3}, {"a": None, "b": 5, "c":10}]
## Efetuando o casting
pd.DataFrame(df_from_list)

     a  b   c
0  1.0  2   3
1  NaN  5  10

In [6]:
## Criando um dataframe a partir de um dicionário
df_from_dict = {"a": [1, None], "b": [2, 5], "c": [3, 10]}
## Efetuando o casting
pd.DataFrame(df_from_dict)

     a  b   c
0  1.0  2   3
1  NaN  5  10

#### **Lendo e escrevendo dados**
Uma das grandes vantagens do Pandas é a facilidade para carregar dados de diversas fontes, como CSV, JSON, SQL, Excel, entre outros. O Pandas oferece funções como `read_csv()`, `read_excel()`, `read_json()`, `read_sql()`, e `read_html()` para carregar dados, e `to_csv()`, `to_excel()`, e `to_json()` para salvar DataFrames em disco.

- Facilidade para carregar dados de diversas fontes
- Funções para carregar dados de CSV, JSON, SQL, Excel, entre outros
- Funções para salvar DataFrames em disco

In [14]:
## Exemplo de leitura de um dataframe vindo de um .csv
pd.read_csv("https://raw.githubusercontent.com/NophaieViscente/mini-course-uniarp/master/data/raw/life_expectancy_data.csv")

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

#### **Exercício 1 - Leitura de dados**

Você necessita ler dados de um dataframe disponibilizado na web.

a url do .csv :
'https://raw.githubusercontent.com/NophaieViscente/mini-course-uniarp/master/data/raw/life_expectancy_data.csv'

**A** - Leia o dataframe vindo da url e atribua ele a uma variável chamada 'df_url'.
* Use read_csv()

**B** - Mostre as 2 primeiras linhas
* Use head()

**C** - Mostre as 20 últimas linhas
* Use tail()

**D** - Mostre as informações sobre o dataframe
* Use info()

**E** - Faça a contagem da quantidade de dados vazios por coluna
* Use isna()

**F** - Mostre os nomes de todas as colunas
* Use columns

**G** - Renomeie as colunas [Country, Year, Population] para [pais, ano, populacao] respectivamente.
* Use rename()